div.table-paper {
    background-color: transparent;
}

.prj-link {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

.prj-outline {
    color: rgb(255, 255, 255) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.prj-outline-head {
    color: rgb(255, 255, 255) !important;
    font-size: 16px !important;
    font-weight: 800 !important;
}